<section id="About">
    <section class="outer-about-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="inner-about-section">
                        <h2 class="infoHead">Info</h2>
                        <div class="one">
                            <ol>
                                <li>Home: root page</li>
                                <li>Login: using template-driven form and validation for email is requirsed and password is required and should be an existing user</li>
                                <li>SignUp: using template-driven form and validation for email is required and password is required and should be of minimum length of 8 and maximum 12(table)</li>
                                <li>AddTask: saves the task on the logged in the user table</li>
                                <li>TaskList: perform CRUD operations
                                    <ul>
                                        <li>Edit: updates the task in the user table</li>
                                        <li>Done: marks the task as completed</li>
                                        <li>Clear: truncate the user table</li>
                                    </ul>
                                </li>
                                <li>Logout: uses <i>localStorage.removeItem("token")</i> for removing the token from the localStorage</li>
                                <li>Info: you are reading...</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>

